<%-include("partials/header") %>
<main>
  <h1>Home</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium harum
    dicta nemo impedit incidunt, fuga enim reprehenderit repellendus sed vel
    sapiente animi consectetur dolore, voluptas corporis provident aliquam eius
    unde praesentium sit labore! Minima dolorem molestias aspernatur, ea at
    harum commodi beatae minus rerum voluptate nam nihil asperiores! Vel minima,
    commodi vitae similique doloribus alias! Distinctio similique ipsam
    doloremque ad neque eveniet modi. Maxime, nulla ullam voluptatum recusandae
    explicabo similique voluptate rem omnis dicta non pariatur exercitationem
    nostrum praesentium quaerat.
  </p>
  <% for(let i=0; arrayOfPosts.length>i ; i++){%>
  <h2><%=arrayOfPosts[i].title %></h2>
  <p id="limitedPara">
    <%=arrayOfPosts[i].post.substring(0,100) %>...<a
      href="/post/<%= arrayOfPosts[i].title  %> "
      >Read More</a
    >
  </p>
  <% } %>
</main>

<%-include("partials/footer") %>
